In [1]:
x, y = 100, 200
result = x + y
print(result)

300

In [2]:
x, y = 100, 200, 300
result = x + y
print(result)

ValueError: too many values to unpack (expected 2)

In [3]:
x, y, z = 100, 200, 300
result = x + y
print(result)

300

In [4]:
x, y, z = 100, 200
result = x + y + z
print(result)

ValueError: not enough values to unpack (expected 3, got 2)

In [5]:
num1 = num2 = num3 = 200
print(num1, num2)

200 200

In [6]:
300 == 300

True

In [8]:
num = 300
print(num)

300

In [9]:
i +=10

NameError: name 'i' is not defined

In [12]:
num = 20
num += 20
print(num)

40

In [25]:
num ^= 1
print(num)

9

In [26]:
num = 256
num %= 10
print(num)

6

In [27]:
num = 256
num -= 10
print(num)

246

In [28]:
num = 2
num *= 10
print(num)

20

In [29]:
num = 2
num /= 10
print(num)

0.2

In [31]:
num = 1011
num ^= 1010
print(num)

1

In [32]:
7+4

11

In [33]:
7-4

3

In [34]:
7//4

1

In [35]:
7%4

3

In [36]:
7**2

49

In [38]:
money = int(input("Money Paid: "))
price = int(input("Price of Item: "))

change = money-price
print("Amount of Change: ", change)
coin500s = change // 500
change = change % 500
coin100s = change // 100

print("Pieces of 500 won coins: ", coin500s)
print("Pieces of 100 won coins: ", coin100s)

Money Paid: 5000
Price of Item: 300
Amount of Change:  4700
Pieces of 500 won coins:  9
Pieces of 100 won coins:  2

In [39]:
num1= 3
num2= 0
print(num1/num2)

ZeroDivisionError: division by zero

In [43]:
width = 30
height = 60
Area = width * height
print("Print\"Area of rectangle: ", Area)

Print"Area of rectangle:  1800

In [49]:
a = 2
b = 3
c = a**2+b**2
print("Pythagorean value: ",c)

Pythagorean value:  13

In [48]:
a = 3
b = 4
c = a**2+b**2
l = c**0.5
print("the length of the hypotenuse: ",l)

the length of the hypotenuse:  5.0

In [51]:
name = input("Enter Name: ")
print("Hello!", name)
print("Welcome to the World of Python Programming.")

Enter Name: Sodana Som
Hello! Sodana Som
Welcome to the World of Python Programming.

In [60]:
x = int(input("Enter the first integer: "))
y = int(input("Enter the second integer: "))
s = x + y
print("the sum of" ,x ,"and" ,y ,"is",s)

Enter the first integer: 600
Enter the second integer: 400
the sum of 600 and 400 is 1000

In [61]:
x = int(input("Enter the first integer: "))
y = int(input("Enter the second integer: "))
s = x + y
print("the sum of" ,x ,"and" ,y ,"is",s)

Enter the first integer: hundred

ValueError: invalid literal for int() with base 10: 'hundred'

In [62]:
x = input("Enter the first integer: ")
print('input Data Type: ',type(x))

Enter the first integer: 100
input Data Type:  <class 'str'>

In [63]:
x = int(input("Enter the first integer: "))
print('input Data Type: ',type(x))

Enter the first integer: 300
input Data Type:  <class 'int'>

In [67]:
#Let's check whether x is only a number
x = input("x: ")
if x.isdigit() == True :
    x = int(x)
    print('input Data Type: ', type(x))
else: 
    print('x is not a number type.')

x: 200
input Data Type:  <class 'int'>

In [69]:
#Let's check whether x is only a number
x = int(input("x: "))
if x.isdigit() == True :
    x = int(x)
    print('input Data Type: ', type(x))
else: 
    print('x is not a number type.')

x: 50

AttributeError: 'int' object has no attribute 'isdigit'

In [70]:
#Let's check whether x is only a number
x = input("x: ")
if x.isdigit() == True :
    x = int(x)
    print('input Data Type: ', type(x))
else: 
    print('x is not a number type.')

x: thank
x is not a number type.

In [ ]:
PI=3.141592 
radius = float(input(print("Enter the radius of a circle: ")
Area = PI*radius*radius
print("Area of circle: ", Area)
Circumference = PI*2*radius
print("Circumference of circle: ", Circumference)

In [ ]:
PI=3.141592 
radius = float(input("Enter the radius of a circle: "))
Area = PI*radius*radius
print("Area of circle: ", Area)
Circumference = PI*2*radius
print("Circumference of circle: ", Circumference)

In [1]:
PI=3.141592 
radius = float(input("Enter the radius of a circle: "))
Area = PI*radius*radius
print("Area of circle: ", Area)
Circumference = PI*2*radius
print("Circumference of circle: ", Circumference)

Enter the radius of a circle: 6
Area of circle:  113.09731200000002
Circumference of circle:  37.699104000000005

In [2]:
a = int(input("Enter a: "))
n = int(input("Enter n: "))
b = a**n
print("Answer: ", b)

Enter a: 2
Enter n: 2
Answer:  4

In [4]:
a = 2, 3, 4, 5, 6
n = 2, 2, 2, 2, 2
result = a**n
print("result: ", result)

TypeError: unsupported operand type(s) for ** or pow(): 'tuple' and 'tuple'

In [12]:
2, 2, 2**2 
print("\n")
3, 2, 3**2

(3, 2, 9)

In [6]:
3, 2, 3**2

(3, 2, 9)

In [20]:
print(2, 2, 2**2, "\n") 
print(3, 2, 3**2, "\n")
print(4, 2, 4**2, "\n")
print(5, 2, 5**2, "\n")
print(6, 2, 6**2, "\n")

2 2 4

3 2 9

4 2 16

5 2 25

6 2 36

In [21]:
2024%400

24

In [22]:
year = int(input("Enter the year: "))
leap_year = (year % 4 == 0 and year % 100 !=0) or year % 400 == 9 
print(leap_year)

Enter the year: 2002
False

In [23]:
year = int(input("Enter the year: "))
leap_year = (year % 4 == 0 and year % 100 !=0) or year % 400 == 9 
print(leap_year)

Enter the year: 2030
False

In [26]:
print('Result of 10>5: ', 10>5)
print('Result of 5>1: ', 5>1)
print('Result of 5==5: ', 5==5)
print('Result of 5!=5: ', 5!=5)
print("Result of 'a' > 'b': ",'a'>'b' )

Result of 10>5:  True
Result of 5>1:  True
Result of 5==5:  True
Result of 5!=5:  False
Result of 'a' > 'b':  False

In [31]:
print(bool(1))
print(bool(0))
print(bool(True))
print(bool(False))
print(bool(-1))
print(bool(None))
print(bool(''))
print(bool('hello'))
print(bool([]))
print(bool(-2))
print(bool([10, 20]))
print(bool('10'))
print(bool(+2))

True
False
True
False
True
False
False
True
False
True
True
True
True

In [35]:
a=100 
b=200
print(a==b)
print(a>=b)
print(a<=b)
print(a!=b)
print(a>b)
print(a<b)

False
False
True
True
False
True

In [39]:
n = int(input('Enter the integer: '))
print('Is the integer even?', n%2==0)

Enter the integer: 50
Is the integer even? 0

In [42]:
print('aaa'=='aaa')
print('aaa'=='bbb')
print('aaa'!='aaa')
print('aaa'!='bbb')

True
False
False
True

In [43]:
a = 1
b = 1.0
print (a==b)
print (a is b)

True
False

In [44]:
print('aaa' in 'aaa-bbb-ccc')
print('bbb' in 'aaa-bbb-ccc')
print('ddd' in 'aaa-bbb-ccc')

True
True
False

In [45]:
n=100
print('n =', n)
if 0 < n < 200:
    print('n is between 0 and 200.')

n = 100
n is between 0 and 200.

In [46]:
n=400
print('n =', n)
if 0 < n < 200:
    print('n is between 0 and 200.')

n = 400

In [47]:
n=4.4
print('n =', n)
if 0 < n < 200:
    print('n is between 0 and 200.')

n = 4.4
n is between 0 and 200.

In [48]:
n=4.4
print('n =', n)
if 0 < n < 200:
    print('true')

n = 4.4
true

In [49]:
n=44000
print('n =', n)
if 0 < n < 200:
    print('true')

n = 44000

In [50]:
n=400
print(0 < n < 200)

False

In [51]:
n=100
print(0 < n < 200)

True

In [52]:
x = True
y = False
print(x and y)
print(x or y)
print(not x)
print(not y)

False
True
False
True

In [53]:
num= int(input('Enter an integer: '))
result = (num >=0 and num <=100 and num % 2 == 0)
print('Is the input and even integer between 0 and 100?', result)

Enter an integer: 99
Is the input and even integer between 0 and 100? False

In [54]:
num= int(input('Enter an integer: '))
result = (num >=0 or num <=100 or num % 2 == 0)
print('Is the input and even integer between 0 and 100?', result)

Enter an integer: 99
Is the input and even integer between 0 and 100? True

In [61]:
num=int(input("Enter an integer: "))
if num%2==0:
    print("Is the integer odd?", num %2 !=0 )
else:
    print("Is the integer even?", num %2 !=0 )

Enter an integer: 31
Is the integer even? True

In [62]:
num=int(input("Enter an integer: "))
if num%2==0:
    print("Is the integer odd?", num %2 !=0 )
else:
    print("Is the integer even?", num %2 !=0 )

Enter an integer: 20
Is the integer odd? False

In [63]:
num=int(input("Enter an integer: "))
if num%2==0:
    print("Is the integer odd?", num %2 !=0 )
else:
    print("Is the integer even?", num %2 !=0 )

Enter an integer: 21
Is the integer even? True

In [78]:
num=int(input("Enter an integer: "))
print(num//3==1)

Enter an integer: 321
False

In [79]:
num=int(input("Enter an integer: "))
print(num//3==1)

Enter an integer: 321
False